@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-extrabold";
  src: url("./fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("./fonts/Poppins-Light.ttf");
}

html, body {
  font-family: "poppins";
}

.profile-image {
  background: linear-gradient(180deg, #e70faa 0%, #00c0fd 100%);
}


.name {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%),
    linear-gradient(0deg, #42446e, #42446e);
  background-clip: text;
  text-fill-color: transparent;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


:where(.css-dev-only-do-not-override-157aqzi).ant-anchor-wrapper .ant-anchor .ant-anchor-link-title {
  color: #ffffff!important;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}